<section style="float: left">
    {{labeled-input label='Nombre:' value=model.name}}
    {{labeled-area label='Descripción:' value=model.description}}
    <button {{action "saveProcedure"}}>
        Guardar
    </button>
    <button {{action "deleteProcedure"}}>
        Borrar
    </button>
</section>
