<h1 class="page-header">{{name}}</h1>

{{markdown-view value=description}}

<h2 class="sub-header">Acciones</h2>
<button class="btn btn-default" {{action "editProcedure" model}}>Editar</button>
<button class="btn btn-danger" {{action "deleteProcedure" model}}>Borrar</button>
