<section style="float: left">
    {{name}} - <button {{action "editProcedure" model}}>Editar</button> - <button {{action "deleteProcedure" model}}>Borrar</button>
    <br>
    {{description}}
</section>
