<!-- Logo space -->
<div class="navbar-header">
  <!-- Responsive collapsible menu -->
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <span class="navbar-brand">Procesos activos</span>
</div>

<!-- Navigation options -->
<div id="navbar" class="navbar-collapse collapse">
<ul class="nav navbar-nav">
  <li><a>Inicio</a></li>
  <li>{{#link-to 'procedures'}}Procesos{{/link-to}}</li>
  <li><a>Labores</a></li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Usuarios<span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <li>{{#link-to 'users'}}Administrar{{/link-to}}</li>
      <li class="divider"></li>
      <li class="dropdown-header">Nav header</li>
      <li><a  href="#" {{action "logout"}}>Logout</a></li>
    </ul>
  </li>
</ul>
</div>
