
@import url(http://fonts.googleapis.com/css?family=Muli);

$fullWidth: 100%;

$col-2: $fullWidth/2;

//colores

$darkblue: #006666;
$lightblue: #70caca;
$orange: #ef4830;

$black: #000000;
$gray: #E7E6E6;
$lightgray: #F7F6F6;