input {
    width: 150px;
    margin: 0;
    padding: 2px;
    border: 1px solid black;
    box-sizing: border-box;
}

body {
    width: 100%;
}

.abm {
    width: 600px;
    margin: 0 auto;
    > section {
        float: left;
        width: 50%;
    }
}

p.property-input {
    text-align: right;
    .value {
        width: 150px;
        box-sizing: border-box;
        padding: 2px;
    }
}


#login-section {
    width: 400px;
    margin: 0 auto;
}

.error-message {
    color: red;
}