@import url(http://fonts.googleapis.com/css?family=Muli);
#login-section {
  width: 400px;
  margin: 0 auto; }

.principal-navigator .navigator-list .navigator-item {
  display: inline-block;
  padding: 0 1em; }

.abm {
  width: 600px;
  margin: 0 auto; }
  .abm > section {
    float: left;
    width: 50%; }

textarea.description_edit {
  height: 410px; }
