@import url(http://fonts.googleapis.com/css?family=Muli);
#login-section {
  width: 400px;
  margin: 0 auto; }

.principal-navigator .navigator-list .navigator-item {
  display: inline-block;
  padding: 0 1em; }

body {
  width: 100%;
  font-family: 'Muli', sans-serif; }

li {
  list-style: none; }

a {
  text-decoration: none; }

input {
  width: 150px;
  margin: 0;
  padding: 2px;
  border: 1px solid black;
  box-sizing: border-box; }

p.property-input {
  text-align: right; }
  p.property-input .value {
    width: 150px;
    box-sizing: border-box;
    padding: 2px; }

.error-message {
  color: red; }

.col {
  float: left;
  box-sizing: border-box; }

.col-2 {
  width: 50%; }

.col-3 {
  width: 33.3333333333%; }

.col-4 {
  width: 25%; }

.abm {
  width: 600px;
  margin: 0 auto; }
  .abm > section {
    float: left;
    width: 50%; }
