<section>

  {{labeled-input label='Login:' value=model.login}}
  {{labeled-input label='Password:' value=model.password}}

    <p>
    <div>
        <button {{action "logIn"}}>
            Entrar
        </button>
    </div>
    </p>
</section>