<section id="login-section">
    {{labeled-input label='Login:' value=model.login}}
    {{labeled-input label='Password:' value=model.password}}

    <p class="property-input">
        {{#if rejected}}
        <div class="error-message">
            Invalid <b>credentials</b>!
        </div>
        {{/if}}
        <button {{action "logIn"}}>
            Entrar
        </button>
    </p>
</section>