<div>
    <table border="1">
        <thead>
        <tr>
            <th>Inicio</th>
            <th>{{#link-to 'procedures'}}Procesos{{/link-to}}</th>
            <th>Labores</th>
            <th>{{#link-to 'users'}}Usuarios{{/link-to}}</th>
        </tr>
        </thead>
    </table>
</div>

<div>
    <section style="float: left">
      <table border="1">
          <tbody>
          <tr>
              <td>Proceso 1</td>
          </tr>
          <tr>
              <td>Proceso 2</td>
          </tr>
          <tr>
              <td>Proceso 3</td>
          </tr>
          <tr>
              <td>Proceso 4</td>
          </tr>
          </tbody>
      </table>
    </section>

    <section style="float: left">
        Contenido 1
    </section>
</div>